* {
    margin: 0;
    padding: 0;
}
.head{
    list-style: none;
    display: flex;
    padding: 5px;
}
nav{
    display: flex;
    height: 60px;
    justify-content: space-between;
    border: 2px solid;
    align-items: center;
    padding: 20px;
}
button{
    font-size: medium;
    margin: 10px;
}
.leftbutt{
    display: flex;
}
.testimonials{
    display: grid;
    grid-template-columns: 1fr , 1fr;
    border: 2px solid blue;
    height: 50vh;
    width: 100vw;
}